<section class="space-y-6" data-slider-root>
  <div class="relative">
    <div class="swiper js-product-slider" id="slider-{{ slider_id }}">
      <div class="swiper-wrapper">
        {% for banner in banners %}
          <div class="swiper-slide pb-6">
			<div>
                {% if banner.image %}
                    <img src="{{banner.image.url}}" alt="{{banner.title}}" class="w-full h-auto rounded-2xl">
                {% else %}
                    <div class="flex h-full w-full items-center justify-center bg-accent-soft text-ink">
                    Нет изображения
                    </div>
                {% endif %}
				
			</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="pointer-events-none absolute inset-y-0 left-0 hidden w-24 items-center justify-center bg-gradient-to-r from-paper via-paper/90 to-transparent lg:flex">
      <button
        type="button"
        class="pointer-events-auto js-banner-prev flex h-10 w-10 items-center justify-center rounded-full border border-accent-soft bg-white text-graphite transition hover:bg-accent-dark"
        aria-label="Предыдущие товары"
      >
        <i data-lucide="arrow-left"></i>
      </button>
    </div>

    <div class="pointer-events-none absolute inset-y-0 right-0 hidden w-24 items-center justify-center bg-gradient-to-l from-paper via-paper/90 to-transparent lg:flex">
      <button
        type="button"
        class="pointer-events-auto js-banner-next flex h-10 w-10 items-center justify-center rounded-full border border-accent-soft bg-white text-graphite transition hover:bg-accent-dark"
        aria-label="Следующие товары"
      >
        <i data-lucide="arrow-right"></i>
      </button>
    </div>
  </div>
</section>