{% with slider_uid=slider_id|default:'banner' %}
<section class="space-y-3 md:space-y-6" data-slider-root data-banner-id="{{ slider_uid }}">
  <div class="relative">
    <div class="swiper js-banner-slider" id="slider-{{ slider_uid }}">
      <div class="swiper-wrapper">
        {% for banner in banners %}
          <div class="swiper-slide">
            <div>
              {% if banner.image %}
                <img src="{{ banner.image.url }}" alt="{{ banner.title }}" class="w-full h-auto max-h-[500px] rounded-2xl">
              {% else %}
                <div class="flex h-full w-full items-center justify-center bg-accent-soft text-ink">
                  Нет изображения
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="">
    <div class="swiper js-banner-thumbs" id="slider-{{ slider_uid }}-thumbs">
      <div class="swiper-wrapper">
        {% for banner in banners %}
          <div class="swiper-slide">
            <div class="overflow-hidden rounded-xl border border-accent-soft/60 bg-white/50 p-1 transition">
              {% if banner.image %}
                <img width='150' height='90' src="{{ banner.image.url }}" alt="{{ banner.title }}" class="h-[60px] md:h-[90px] w-full rounded-lg object-cover">
              {% else %}
                <div class="flex h-16 w-full items-center justify-center rounded-lg bg-accent-soft text-xs text-ink-muted">
                  Нет изображения
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endwith %}
